<!-- <app-header></app-header> -->
<div class="contact-container">
    <div class="contact-descripcion">
        <h2>Contacto</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consectetur labore dolor assumenda obcaecati repellat error iusto exercitationem? Quaerat corrupti provident illo, aspernatur nostrum consequuntur minus nesciunt rerum praesentium aliquid.</p>
    </div>
    <div class="contact-img imagen">
        <img src="https://image.freepik.com/free-vector/illustration-telephone_53876-5568.jpg" alt="" srcset="">
    </div>
</div>

<div class="contact-container">
    <div class="contact-descripcion-info">
        <h2>Si tienes alguna duda contáctanos</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consectetur labore dolor assumenda obcaecati repellat error iusto exercitationem? Quaerat corrupti provident illo, aspernatur nostrum consequuntur minus nesciunt rerum praesentium aliquid.</p>
        <div class="divider">
            <mat-list>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon>add_location_alt</mat-icon>
                    <p class="p"><strong>Dirección: </strong>Lorem ipsum dolor sit amet consectetur.</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon>email</mat-icon>
                    <p class="p"><strong>Email: </strong>Lorem ipsum dolor sit amet consectetur.</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon>phone_iphone</mat-icon>
                    <p class="p"><strong>Celular: </strong>Lorem ipsum dolor sit amet consectetur.</p>
                </mat-list-item>
                <mat-divider></mat-divider>

              </mat-list>
        </div>
    </div>
    <div class="imagen">
        <img src="https://image.freepik.com/free-vector/contact-us-concept-illustration_114360-3147.jpg" alt="" srcset="">
        
    </div>
</div>
